init-author-name=Polar stoat
init-author-email=polarstoat@users.noreply.github.com
init-author-url=https://github.com/polarstoat
init-license=UNLICENSED
init-version=0.1.0

prefix=${HOME}/.local/share/npm
cache=${HOME}/.cache/npm
